:root{
    --primary-color:#4f7df2;
    --secondary-color:#3c415f;
    --accent1-color:#82b094;
    --accent2-color: #C5D6D5;
}
*{
    margin: 0;
    padding: 0;
}
h1,h2{
    text-align:left;
    font-size: 28;
    font-weight: bold;
    color: var(--primary-color);

}
h1{
  position:absolute;
    background-color: var(--secondary-color);
    color: #fff;
    width: 100%;
    top: 10px;
    padding: 20px;
    text-align: center;
}
.sociallinks a{
    text-decoration: none;
    bottom: 0%;
    

}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero {
    position: relative;
}
article {
display: flex;
flex-direction: row;
align-items: center;
top: 90px;
position:absolute;
padding: 20px;
background-color: var(--primary-color);


}
section p {
    text-align:left;
    font-size:18px;
}
article  img {
    float: right;
    width:100px;
    height:auto;
    

}
article p {
    float: left;
}
article{

}
article img {

}
nav img {
    position: relative;
    width:100px;
}